<div class="col-md-4 offset-md-3 card">
    <ng-form #frm="ngForm" class="card-body" id="frm-Data">
        <div class="form-group">
            <input type="text" [(ngModel)]="game.title" name="title" class="form-control" placeholder="Título de Juego"
                autofocus />
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Descripción"></textarea>
        </div>
        <div class="form-group">
            <input type="url" class="form-control" placeholder="Imágen url" />
        </div>
        <button class="btn btn-success btn-block" (click)="saveNewGame()">Guardar</button>
        </form>
</div>